@font-face {
  font-family: "quick";
  src: url("./../public/fonts/QuickSand/Quicksand-VariableFont_wght.ttf");
}

@font-face {
  font-family: "digits";
  src: url("./../public/fonts/Digits/digital-7.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  text-decoration: none;
  outline: 0;
  font-family: "quick";
}

:root {
  --Black: #0f0f0f;

  --Quick: "quick";
  --Digit: "digits";
  --Pink: #e93e7d;
}
